*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    text-align: center;
    margin-left: 400px;
    margin-top: 30px;
}
.container{
    height: 120vh;
    width: 40vw;
    margin: 10px;

}
.header{
    margin: 20px;
    padding-left: 150px;
    
}
.img img{
    height: 250px;
   width: 800px;
   margin: 20px;
   padding-right: 45px;

}
.para p{
    font-size: 20px;
    color: rgb(87, 85, 85);
    padding-left: 120px;
    text-decoration: none;
    padding-top: 10px;
}
.ifram{
    width: 650px;
    height: 250px;
    padding-left: 140px;
    padding-top: 20px;
}
.para2 p{
    font-size: 20px;
    color: rgb(87, 85, 85);
    padding-left: 120px;
    text-decoration: none;
    padding-top: 70px;
}